.experience {
	padding-bottom: 200px;
	&-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0 70px;
	}
	&__year {
		position: relative;
		z-index: 2;
		color: transparent;
		background: url(../images/img7.png) 50%;
		-webkit-background-clip: text;
		background-clip: text;
	}
	&__number {
		font-size: 400px;
		font-weight: 800;
		color: $primary-color;
		text-align: center;
		position: relative;
		flex: 1;
	}
	&__dots {
		position: absolute;
		top: 50%;
		right: -20px;
	}
	&-content {
		max-width: 470px;
		margin-left: auto;
		flex-shrink: 0;
	}
}
