.header {
	border-bottom: 1px solid white;
	&-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0;
	}
	&-tool {
		display: flex;
		align-items: center;
		gap: 0 50px;
	}
}

.navbar {
	&-list {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: white;
		gap: 0 50px;
	}

	&__item-link {
		font-weight: 600;
	}
}
