.partner {
	padding-bottom: 200px;
	&__header {
		margin-bottom: 95px;
		text-align: center;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;

		grid-gap: 25px;
	}
	&__item {
		background-color: $gray-dark;
		border-radius: 4px;
		padding: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover img {
			opacity: 0.3;
		}
	}
}
